# Byte-compiled
__pycache__/
*.pyc

# Environments
.env
.venv
env/
venv/

# Dev / test artefacts
tests/
requirements-dev.txt
.pytest_cache/
.coverage
htmlcov/
pyproject.toml

# IDE
.idea/
.vscode/

# Git / CI
.git/
.github/
.gitignore

# Docs / meta
LICENSE
README.md
CLAUDE.md
*.md

# DB (created at runtime)
instance/
